body {
    margin: 90px;
    height: 50;
    padding: 60px;
}

body {
    font-family: sans-serif;
  
}

.navbar-text {
    padding: 50px;
    text-align: center;
    padding-top: 60px;
}

.card-body {
    padding: 60px;
    border-left: 50px;
    border-top: 200px;
    margin: 10px;
    text-align: center;
}

header {
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    font-size: 250%;
    margin: 10px;
    margin-top: 70px;
}

.main-border {
    text-align: center;
    border-left: 50px;
}


body {
    padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    background: #352525;
}