body {
    margin: 90px;
    height: 50;
    padding: 60px;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
  
}

.navbar-text {
    padding: 50px;
    text-align: center;
    margin: 30px;
    padding-top: 60px;
}

.card-body {
    padding: 60px;
    margin: 30px;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 300%;
}

body {
    padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    background: #f3f3f3;
}